/* Header */
#header {
  background-color: #d6d6d6;
  font-family: "Playfair Display", serif;
}

#header li {
  padding: 0px;
  list-style: none;
}

#tamanio-letra {
  font-size: 14px;
}

#shoppingCart img {
  width: 8vh;
}

#contador{
  margin-left: -42px;
  margin-top: -36px;
  font-size: 5vh;
  font-family: "Playfair Display", serif;
  color: rgba(0,0,0,0.55);
}

#redesHeader img{
  width: 32px;
  margin: 10px;
}

