#productoAgregado {
  text-align: center;
  color: black;
  font-family: "Inder", "sans-serif";
}

#productoAgregado p {
    margin-bottom: 0px;
  color: black;
  font-size: 13px;
  font-family:"Playfair Display", serif;
}

.cardProd {
  text-align: center;
  font-family: "Playfair Display", serif;
}

#row img {
  width: 30vh;
}
