.sidebar {
  background-color: #ffa9df;
  position: fixed;
  height: 100%;
  overflow-x: hidden;
  transition: 0.5s;
  right: 0;
  top: 6.7rem;
  z-index: 1;
  width: 250px;
}

.btn-borrar {
  text-align: center;
  background-color: #d6d6d6;
  color: black;
  font-size: 10px;
  font-family: "Playfair Display", serif;
}

.btn-menos {
  text-align: center;
  background-color: #d6d6d6;
  color: black;
  font-size: 10px;
  font-family: "Playfair Display", serif;
}

#mostrarCarrito h6 {
  text-align: center;
  font-family: "Playfair Display", serif;
}

#totalCarritoText{
  text-align: center;
  font-size: 15px;
  color: black;
  font-family: "Playfair Display", serif;
}

.btn-comprar{
  text-align: center;
  background-color: #d6d6d6;
  color: black;
  font-size: 20px;
  font-family: "Playfair Display", serif;
}
