/* Header */
#header {
  background-color: #ffccff;
  color: black;
  font-family: "Inder", sans-serif;
  font-size: 16px;
}

#logoMagnolia {
  font-family: "Cinzel", serif;
}

#header img {
  width: 75px;
  font-family: "Inder", sans-serif;
}

#header li {
  padding: 0px;
  list-style: none;
}

#tamanio-letra {
  font-size: 14px;
}



/* Main */
#textProducto{
  margin-top: 5rem;
  text-align: center;
  font: 50px;
  color: black;
  font-family: "Inder", "sans-serif";
}

#row{
  margin-top: 5rem;
}

#row img{
  width: 35%;
}


#btn-magnolia {
  background-color: #ffccff;
  color: black;
}


#shoppingCart img {
  width: 5.5vh;
  margin-right: 0px;
}


#cantidadCarrito{
  margin-left: 0px;
}

#textMostrarCarrito{
  margin-top: 5rem;
  text-align:  center;
  font-family: "Inder", sans-serif;;
  font-size: 50px;
  color: black;
}

#cardProd{
  color: black;
  font-family: "Inder", "sans-serif";
}

#productoAgregado{
  color: black;
  font-family: "Inder", "sans-serif";
}

/* Estilos de Nosotras */
#textoId{
  margin-top: 5rem;
  text-align: center;
}

#redes img {
  width: 22px;
  padding: 3px;
}

#cardNosotras{
  margin-top: 3rem;
}

/* FIN NOSOTRAS */

/* Formulario */
#formulario{
  font-family: "Inder", sans-serif;
  margin-top: 8rem;
  margin-bottom: 8rem;
  color: black;
}